.signup-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.signup-signup {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 390px;
  bottom: 0px;
  height: 844px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 26px;
  background-color: rgba(21, 19, 22, 1);
}
.signup-illustration {
  top: -55.2403450012207px;
  left: -0.9999886751174927px;
  width: 392px;
  height: 356px;
  position: absolute;
}
.signup-background {
  top: 126px;
  left: -215px;
  width: 904px;
  height: 1037px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup-ellipse3 {
  top: 640px;
  left: 430px;
  width: 397px;
  height: 397px;
  opacity: 0.58;
  position: absolute;
}
.signup-ellipse2 {
  top: 619px;
  left: 0px;
  width: 397px;
  height: 397px;
  opacity: 0.58;
  position: absolute;
}
.signup-rectangle1 {
  top: 118px;
  left: 213px;
  width: 390px;
  height: 803px;
  position: absolute;
  border-radius: 59px;
}
.signup-ellipse1 {
  top: 0px;
  left: 507px;
  width: 397px;
  height: 397px;
  opacity: 0.58;
  position: absolute;
}
.signup-closeupyellowstreetlights {
  top: 246px;
  left: -141px;
  width: 672px;
  height: 448px;
  position: absolute;
}
.signup-navlink {
  display: contents;
}
.signup-signin-button {
  top: 733px;
  left: 38px;
  width: 314px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
  background-image: linear-gradient(149deg, rgba(156, 63, 228, 1) 0%, rgba(198, 86, 71, 1) 100%);
}
.signup-text {
  top: 11px;
  left: 126px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 17.918184280395508px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signup-title {
  top: 272px;
  left: 37px;
  width: 315px;
  height: 371px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup-phonenumber {
  top: 316px;
  left: 1px;
  width: 314px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup-card {
  top: 0px;
  left: 0px;
  width: 314px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup-rectangle3 {
  top: 0px;
  left: 0px;
  width: 314px;
  height: 55px;
  position: absolute;
  border-style: solid;
  border-width: 0.30390557646751404px;
  border-radius: 8px;
}
.signup-rectangle11 {
  top: 0px;
  left: 0px;
  width: 314px;
  height: 55px;
  position: absolute;
  border-style: solid;
  border-width: 0.30390557646751404px;
  border-radius: 8px;
}
.signup-vector {
  top: 19px;
  left: 18px;
  width: 16px;
  height: 18px;
  position: absolute;
}
.signup-text02 {
  top: 17px;
  left: 57px;
  color: rgba(163, 163, 163, 1);
  height: auto;
  position: absolute;
  font-size: 14.329999923706055px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signup-text04 {
  top: 289px;
  color: rgba(163, 163, 163, 1);
  height: auto;
  position: absolute;
  font-size: 14.329999923706055px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signup-password {
  top: 222px;
  left: 1px;
  width: 314px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup-group1433 {
  top: 0px;
  left: 0px;
  width: 314px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup-card1 {
  top: 0px;
  left: 0px;
  width: 314px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup-rectangle31 {
  top: 0px;
  left: 0px;
  width: 314px;
  height: 55px;
  position: absolute;
  border-style: solid;
  border-width: 0.30390557646751404px;
  border-radius: 8px;
}
.signup-rectangle12 {
  top: 0px;
  left: 0px;
  width: 314px;
  height: 55px;
  position: absolute;
  border-style: solid;
  border-width: 0.30390557646751404px;
  border-radius: 8px;
}
.signup-vector1 {
  top: 19px;
  left: 13px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.signup-frame1433 {
  gap: 3.0304877758026123px;
  top: 30%;
  left: 57px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.signup-ellipse5 {
  width: 5px;
  height: 5px;
}
.signup-ellipse6 {
  width: 5px;
  height: 5px;
}
.signup-ellipse7 {
  width: 5px;
  height: 5px;
}
.signup-ellipse8 {
  width: 5px;
  height: 5px;
}
.signup-ellipse9 {
  width: 5px;
  height: 5px;
}
.signup-ellipse10 {
  width: 5px;
  height: 5px;
}
.signup-ellipse11 {
  width: 5px;
  height: 5px;
}
.signup-ellipse12 {
  width: 5px;
  height: 5px;
}
.signup-ellipse13 {
  width: 5px;
  height: 5px;
}
.signup-vector2 {
  top: 21px;
  left: 281px;
  width: 16px;
  height: 13px;
  position: absolute;
}
.signup-text06 {
  top: 195px;
  color: rgba(163, 163, 163, 1);
  height: auto;
  position: absolute;
  font-size: 14.329999923706055px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signup-username {
  top: 128px;
  left: 0px;
  width: 314px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup-group1432 {
  top: 0px;
  left: 0px;
  width: 314px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup-card2 {
  top: 0px;
  left: 0px;
  width: 314px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.signup-rectangle32 {
  top: 0px;
  left: 0px;
  width: 314px;
  height: 55px;
  position: absolute;
  border-style: solid;
  border-width: 0.30390557646751404px;
  border-radius: 8px;
}
.signup-rectangle13 {
  top: 0px;
  left: 0px;
  width: 314px;
  height: 55px;
  position: absolute;
  border-style: solid;
  border-width: 0.30390557646751404px;
  border-radius: 8px;
}
.signup-vector3 {
  top: 20px;
  left: 14px;
  width: 16px;
  height: 15px;
  position: absolute;
}
.signup-text08 {
  top: 17px;
  left: 58px;
  color: rgba(163, 163, 163, 1);
  height: auto;
  position: absolute;
  font-size: 14.329999923706055px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signup-text10 {
  top: 101px;
  color: rgba(163, 163, 163, 1);
  height: auto;
  position: absolute;
  font-size: 14.329999923706055px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signup-text12 {
  left: 78px;
  color: rgba(239, 239, 239, 1);
  height: auto;
  position: absolute;
  font-size: 40.328765869140625px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
input{
  border: none;
  background: none;
  outline: none;
  font-family: Poppins;
  color: rgba(163, 163, 163, 1);
}

.signup-text input{
  color: white;
}